<% team = @team || @team %>
<% context ||= team %>
<% collection ||= :feedback %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% with_attribute_settings object: feedback do %>
  <tr data-id="<%= feedback.id %>">
    <%= render "shared/tables/checkbox", object: feedback %>
    <td><%= render 'shared/attributes/belongs_to', attribute: :giver %></td>
    <td><%= render 'shared/attributes/text', attribute: :user_feedback, url: "feedback/#{feedback.id}" %></td>
    <%# 🚅 super scaffolding will insert new fields above this line. %>
    <td><%= render 'shared/attributes/date_and_time', attribute: :created_at %></td>
    <td class="buttons">
      <% unless hide_actions %>
        <!--<% if can? :edit, feedback %>
          <%= link_to t('.buttons.shorthand.edit'), [:edit, :account, feedback], class: 'button-secondary button-smaller' %>
        <% end %>
        <% if can? :destroy, feedback %>
          <%= button_to t('.buttons.shorthand.destroy'), [:account, feedback], method: :delete, data: { confirm: t('.buttons.confirmations.destroy', model_locales(feedback)) }, class: 'button-secondary button-smaller' %>
        <% end %>-->
        <%# 🚅 super scaffolding will insert new action model buttons above this line. %>
      <% end %>
    </td>
  </tr>
<% end %>
